<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mychat.mapper.UserMapper">
    <insert id="reg" useGeneratedKeys="true" keyProperty="id">
        insert into user(username, password, email, phone) value (#{username}, #{password}, #{email}, #{phone})
    </insert>

    <select id="getUserByName" resultType="com.example.mychat.entity.User">
        select *
        from user
        where username = #{username}
    </select>
</mapper>